@import '~antd/dist/antd.css';

/* Ant Design Overrides */
.ant-layout-header {
  background: transparent;
  min-height: 10vh;
}

.ant-layout-content {
  position: relative; 
  min-height: 80vh;
}

.ant-layout-footer {
  background: transparent;
  min-height: 10vh;
}

.results-list-container .ant-list-item {
  border-bottom: 1px solid #404040 !important;
}

.results-list-container .ant-list-item:last-child {
  border-bottom: none !important;
}

/* Custom Classes */
h3 {
  margin-top: 8px;
  margin-bottom: 0;
}

.center-wrapping-container {
  position: absolute;
  height: auto;
  width: 400px;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
}

.form-search-label {
  display: block;
  padding-bottom: 5px;
}

.no-results-container {
  padding-top: 5px;
}

.results-list-container {
  list-style: none;
  top: 20%;
  margin-top: 0;
  position: relative;
  text-align: left;
}

.results-li-button {
  display: block;
  margin-right: 16px;
}

.company-profile-section {
  text-align: left;
  top: 10%;
  margin-top: auto;
  position: relative;
}
